<div class="pageAbout">

    <div class="stepContainer alignCenter">
        <!--<div class="step step1"></div>-->
        <!--<div class="step step2"></div>-->
        <!--<div class="step step3"></div>-->

        <!-- Timer -->
        <div class="timer">
            <div class="col-sm-5 col-sm-offset-3 digits">
            </div>
        </div>
    </div>
</div>
        <div class="containerAbout" align="center" >
        <button class="returnButon" ng-click="backToGame()" id="returnButton"></button>
            <h1 style="color:cyan; font: 30px bold; text-align: center; padding-bottom: 10px; padding-top: 10px;">Car mission team</h1>
        <table class= "containerPeople">
            <tr>
                <td align = "center">
                    <h2>Orit<br>Bezalel</h2>
                    <img style="height: 100px" src="img/I033669.jpg"><br>
                </td>

                <td align = "center">
                    <h2>Avishai<br>Klaiman</h2>
                    <img style="height: 100px" src="img/I073060.jpg"><br>

                <td align = "center">
                    <h2>Nathan<br>Borik</h2>
                    <img style="height: 100px" src="img/I323891.JPG"><br>
                </td>

                <td align = "center">
                    <h2>Alina<br>Vainshtain</h2>
                    <img style="height: 100px" src="img/I064852.jpg"><br>
                </td>

                <td align = "center">
                    <h2>Adam<br>Floor</h2>
                    <img style="height: 100px" src="img/I301983.JPG"><br>
                </td>
            </tr>

                <td align = "center">
                    <h2>Sagi<br>Lefler</h2>
                    <img style="height: 100px" src="img/I064854.JPG"><br>
                </td>

                <td align = "center">
                    <h2>Mirit<br>Mondani</h2>
                    <img style="height: 100px" src="img/I053570.jpg"><br>
                </td>

                <td align = "center">
                    <h2>Dror<br>Last</h2>
                    <img style="height: 100px" src="img/I024288.JPG"><br>
                </td>

                <td align = "center">
                    <h2>Daena<br>Kersh</h2>
                    <img style="height: 100px" src="img/I336151.jpg"><br>
                </td>

                <td align = "center">
                    <h2>Ofek<br>Ben-Ephraim</h2>
                    <img style="height: 100px" src="img/I337250.JPG"><br>
                </td>
            </tr>
        </table>
    </div>



<!--<td>-->
    <!--id: 3,-->
    <!--parent: 0,-->
    <!--title: "Mirit Mondani",-->
    <!--email: "mirit.mondani@sap.com",-->
    <!--description: "",-->
    <!--image: "img/I053570.jpg",-->
    <!--templateName: "contactTemplate"-->
<!--</td>-->
<!--<td>-->
    <!--id: 4,-->
    <!--parent: 0,-->
    <!--title: "Sagi Lefler",-->
    <!--email: "sagi.lefler@sap.com",-->
    <!--description: "",-->
    <!--image: "img/I064854.JPG",-->
    <!--templateName: "contactTemplate"-->
<!--</td>-->
<!--id: 1,-->
<!--parent: 0,-->
<!--title: "Nathan Borik",-->
<!--email: "nathan.borik@sap.com",-->
<!--description: "",-->
<!--image: "nathan.borik@sap.comimg/I323891.JPG",-->
<!--templateName: "contactTemplate"-->
<!--}),-->
<!--new primitives.orgdiagram.ItemConfig({-->
<!--id: 5,-->
<!--parent: 0,-->
<!--title: "Alina Vainshtain",-->
<!--email: "alina.vainshtain@sap.com",-->
<!--description: "",-->
<!--image: "img/I064852.jpg",-->
<!--templateName: "contactTemplate"-->
<!--}),-->
<!--new primitives.orgdiagram.ItemConfig({-->
<!--id: 2,-->
<!--parent: 1,-->
<!--title: "Daena Kersh",-->
<!--email: "daena.kersh@sap.com",-->
<!--description: "",-->
<!--image: "img/I336151.jpg",-->
<!--templateName: "contactTemplate"-->
<!--}),-->
<!--new primitives.orgdiagram.ItemConfig({-->
<!--id: 8,-->
<!--parent: 1,-->
<!--title: "Dror Last",-->
<!--email: "dror.last@sap.com",-->
<!--description: "",-->
<!--image: "img/I024288.jpg",-->
<!--templateName: "contactTemplate"-->
<!--}),-->
<!--new primitives.orgdiagram.ItemConfig({-->
<!--id: 6,-->
<!--parent: 1,-->
<!--title: "Avishai Klaiman",-->
<!--email: "avishai.klaiman@sap.com",-->
<!--description: "",-->
<!--image: "img/I073060.jpg",-->
<!--templateName: "contactTemplate"-->
<!--}),-->
<!--new primitives.orgdiagram.ItemConfig({-->
<!--id: 7,-->
<!--parent: 1,-->
<!--title: "Adam Floor",-->
<!--email: "adam.floor@sap.com",-->
<!--description: "",-->
<!--image: "img/I301983.JPG",-->
<!--templateName: "contactTemplate"-->
<!--}),-->
<!--new primitives.orgdiagram.ItemConfig({-->
<!--id: 9,-->
<!--parent: 1,-->
<!--title: "Ofek Ben-Ephraim",-->
<!--email: "Ofek.Ben-Ephraim@sap.com",-->
<!--description: "",-->
<!--image: "img/I337250.JPG",-->
<!--templateName: "contactTemplate"-->
<!--})-->
<!--];-->
