<iframe src="../img/movie/RB3.mp4" height="400" width="500" />
<div class="level">

            <br><br><br>

                <div class="wrapper4" class = "finalstyle">
                    <h1 class="finalText">Great Job!!! Robert is free !!!</h1> <br> <br>
                    <div class="finalTextResults">
                        <h1 id="challengeTime" class="resText"></h1> <br>
                        <h1 id="hintsAmount" class="resText"> </h1> <br>
                    </div>
                    <h1 class="finalText foot">You have saved Robert Kubica from the kidnappers!!! <BR>
                        Therefore he will be able to attend the <br>World Rally Championship 2018!</h1> <br> <br>


                </div>

<article>
    <pre>  XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS</pre>
    <pre> Brute force Brute force Brute force Brute force Brute force Brute force</pre>
    <pre> Path traversal Path traversal Path traversal Path traversal Path traversal </pre>
    <pre>  SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection</pre>
    <pre> DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS</pre>
    <pre>   Social engineering Social engineering Social engineering Social engineering Social engineering  </pre>
    <pre> CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF</pre>
    <pre> DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing</pre>
    <pre>  XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS</pre>
    <pre> Brute force Brute force Brute force Brute force Brute force Brute force</pre>
    <pre> Path traversal Path traversal Path traversal Path traversal Path traversal </pre>
    <pre>  SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection</pre>
    <pre> DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS</pre>
    <pre>   Social engineering Social engineering Social engineering Social engineering Social engineering  </pre>
    <pre> CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF</pre>
    <pre> DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing</pre>
    <pre>  XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS</pre>
    <pre> Brute force Brute force Brute force Brute force Brute force Brute force</pre>
    <pre> Path traversal Path traversal Path traversal Path traversal Path traversal </pre>
    <pre>  SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection</pre>
    <pre> DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS</pre>
    <pre> CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF</pre>
    <pre>   Social engineering Social engineering Social engineering Social engineering Social engineering  </pre>
    <pre> CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF</pre>
    <pre> DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing</pre>
    <pre>  XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS</pre>
    <pre> Brute force Brute force Brute force Brute force Brute force Brute force</pre>
    <pre> Path traversal Path traversal Path traversal Path traversal Path traversal </pre>
    <pre>  SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection</pre>
    <pre> DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS</pre>
    <pre>  XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS</pre>
    <pre> Brute force Brute force Brute force Brute force Brute force Brute force</pre>
    <pre> Path traversal Path traversal Path traversal Path traversal Path traversal </pre>
    <pre>  SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection</pre>
    <pre> DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS</pre>
    <pre>   Social engineering Social engineering Social engineering Social engineering Social engineering  </pre>
    <pre> CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF CSRF</pre>
    <pre> DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing DNS spoofing</pre>
    <pre>  XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS XSS</pre>
    <pre> Brute force Brute force Brute force Brute force Brute force Brute force</pre>
    <pre> Path traversal Path traversal Path traversal Path traversal Path traversal </pre>
    <pre>  SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection SQL Injection</pre>
    <pre> DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS DoS</pre>

</article>
<svg class='hide' xmlns="http://www.w3.org/2000/svg">
    <defs>
        <filter id='svg-blur-h'>
            <feGaussianBlur stdDeviation='5,0' />
        </filter>
        <filter id='svg-blur-v'>
            <feGaussianBlur stdDeviation='0,10' />
        </filter>
    </defs>
</svg>

<div class="containerCar">
    <div class="car">
        <img src="http://www.mazda.co.uk/assets/master/cars/cx-5/exterior/colours/mazda-cx5-deep-crystal-blue.png" />
        <span class="wheel front"></span>
        <span class="wheel back"></span>
    </div>
    <div class="car">
        <img src="http://www.mazda.co.uk/assets/master/cars/cx-5/exterior/colours/mazda-cx5-deep-crystal-blue.png" />
        <span class="wheel front"></span>
        <span class="wheel back"></span>
    </div>
    <div class="car">
        <img src="http://www.mazda.co.uk/assets/master/cars/cx-5/exterior/colours/mazda-cx5-deep-crystal-blue.png" />
        <span class="wheel front"></span>
        <span class="wheel back"></span>
    </div>

    <div class="containerCar">
        <div class="car">
            <img src="http://www.mazda.co.uk/assets/master/cars/cx-5/exterior/colours/mazda-cx5-deep-crystal-blue.png" />
            <span class="wheel front"></span>
            <span class="wheel back"></span>
        </div>
        <div class="car">
            <img src="http://www.mazda.co.uk/assets/master/cars/cx-5/exterior/colours/mazda-cx5-deep-crystal-blue.png" />
            <span class="wheel front"></span>
            <span class="wheel back"></span>
        </div>
        <div class="car">
            <img src="http://www.mazda.co.uk/assets/master/cars/cx-5/exterior/colours/mazda-cx5-deep-crystal-blue.png" />
            <span class="wheel front"></span>
            <span class="wheel back"></span>
        </div>

    </div>
</div>
</div>

<iframe src="../img/movie/RB3.mp4" height="400" width="500" />
