

<div class="helpPage">
        <!-- Timer -->
        <div class="timer">
            <div class="col-sm-5 col-sm-offset-3 digits">
            </div>
        </div>
<div class="containerHelp">
    <button class="returnButon" ng-click="backToGame()" id="returnButton"></button>
    <!--<div class="col-sm-6 col-sm-offset-3" style=" font-size: 20px;color: white">-->
        <h1 style="color:cyan; font: 30px bold; text-align: center; padding-bottom: 10px; padding-top: 10px;">Briefing</h1>
        <p>
        <li>We will introduce you to some Security concepts like Brute-force, XSS, Path Traversal and more.
        </li>
        <br/>
        <li>For further learning go to OWASP - "The Open Web Application Security Project",<br/>
            an online community which creates freely-available articles, methodologies, documentation, tools, and
            technologies in the field of web application security.
        </li>
        </p>
        <br>
        <h1 style="color:cyan; font: 30px bold; text-align: center; padding-bottom: 10px; padding-top: 10px;">Instruction page</h1>

        <h2 style="text-align: left; color: #1c94c4; font: 25px bold; padding-bottom: 5px; padding-top: 5px;">Goal</h2>

        <p>
        <li>Your target is to hack the car and the obstacles along the way in order to arrive to a very important SAP yearly board meeting - you have only 20 minutes!</li>
        <br>

        <h2 style="text-align: left; color: #1c94c4; font: 25px bold; padding-bottom: 5px; padding-top: 5px;">Useful Hints</h2>
        <li>The only requirement is common sense.</li>
        <li>In Chrome, open the developer tools with F12, CTRL+SHIFT +F.</li>
        <li>You can try right-click and <b>inspect</b> elements.</li>
        <li>The network tab can also be useful.</li>
        </p>
        <li>Remember to do it in chrome incognito so as to not leaving any cookies.</li>
        <br>
        <h1 style="text-align: left; color: #1c94c4; font: 25px bold; padding-bottom: 5px; padding-top: 5px;">Technologies</h1>

        <p>We used MEAN (Mongo, Express, Angular, Node) stack
        <li>MongoDB is the persistence layer.</li>
        <li>ExpressJS is the backend layer for building the web application.</li>
        <li>AngularJS is the frontend layer, gives us the MVC in the client side.</li>
        <li>NodeJS runs our JavaScript server.</li>
        <br>
    </div>
</div>