<div class="level">
    <div class="containerLogin">
        <div class="backSheet">
            <form>
                <h1 class="label1Big alignCenter">Sign In</h1>
                <br>

                <div class="wrapper">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email"
                           ng-model="email"></input>
                </div>
                <div class="wrapper">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                           ng-model="password"></input>
                </div>
                <div class="wrapper">
                    <div class="alignCenter">
                        <button type="submit" class=" button1" ng-click="login()">Submit</button>
                        <a class="link" href="#/signup">Need an account?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>